PRIVATE_KEY=
PROJECT_ID=
MNEMONIC=
MUMBAI_API=
ETHERSCAN_MAINNET=
ETHERSCAN_RINKEBY=
ETHERSCAN_ROPSTEN=
BSCSCAN_TESTNET=
POLYGONSCAN_MUMBAI=

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
SUMSUB_APP_TOKEN=
SUMSUB_SECRET_KEY=

SUMSUB_BASE_URL=https://api.sumsub.com
CHAIN_ID=0x13881

MUMBAI=0x13881
MATIC=0x89